contactcreation/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="implementationFlow" doc:id="d27fdb7a-2ea1-4b83-93bd-50cd8c5eada5" >
		<batch:job jobName="implementationBatch_Job" doc:id="f87136fa-cda3-4b2a-8292-3e7e839adf1f" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="7cc8114e-94a8-4518-a0cc-73dcb0544f3b" >
					<ee:transform doc:name="Convert to Salesforce Contact Obect" doc:id="04c5a887-d1f6-4b82-8bef-d345c697cf0a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header=true
---
payload map{
	FirstName: $.first_name,
	LastName: $.last_name,
	Email: $.eamil,
	Title: $.title,
	Department: $.department
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d0056919-e8fc-46e9-a329-95f448284675" size="500">
						<salesforce:create-job-bulk-api-v2 doc:name="Create job bulk api v 2" doc:id="7de0abb3-0efa-4f5e-8ca7-3a0df91b4ddf" target="sfOutput" config-ref="Salesforce_Config" operation="upsert" externalIdFieldName="id" objectType="Contact"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="201c4572-c1a5-4fa1-9eeb-cfda23b6a313" acceptPolicy="ONLY_FAILURES">
					<ee:transform doc:name="Transform Message" doc:id="2ceceba5-cb3c-4327-9a60-d3a9f38cf858">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
Batch::getStepExceptions()]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="58d0219d-0c88-4ce6-a7f6-77e4023926e6" message="#[payload]"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="b396a5fa-5bb2-4cc1-9acf-977958f2045d" size="500">
						<file:write doc:id="3fa5b1ae-6ed9-499a-8b4e-6f261bf2209e" config-ref="File_Config" path="C:\Users\bhoga\Documents\MuleSoft -learning my\capture error\err.txt.txt"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Convert result to JSON" doc:id="f4ff4b9d-1901-4ee2-960a-50fb0321f5af">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.sfOutput]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
